.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.redd.it/wi1piml5hxyf1.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(35%);
    z-index: -1;
}
body {
    font-family: Arial;
    background-color: #f4f6f7;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    height: 35px;
    width: 70%;
    text-align: center;
    
}

td select {
    display: block;
    margin: 0 auto;
    text-align: center;
}


input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: #1fc23a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px auto 0 auto;
    font-weight: bold;
}
button:hover {
    background-color: #136e1a;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    background: #ffffff77;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f283;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: #fff;
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease;
}

.popup.success {
    border: 3px solid #ffffffff;
    color: #155724;
    font-weight: bold;
}

.popup.error {
    border: 3px solid #fdfdfdff;
    color: #910412ff;
    font-weight: bold;
}

.popup img {
    margin-top: 10px;
    border-radius: 8px;
}

.close-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

.btnn {
    display: inline-block;
    padding: 6px 14px;
    margin: 2px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    width: 30%;
    justify-content: center;
    margin: 15px auto 0 auto;
}
.cancel-btn {
    background-color: #bb2323; 
    padding: 20px;
    margin-top: 15px;
}
.cancel-btn:hover {
    background-color: #831313; 
}

.edit-btn {
    background-color: #4CAF50; 
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #da190b;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 2000;
    margin: 15px auto 0 auto;
}

.popup-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    animation: fadeIn 0.3s ease;
}

.popup-box h3 {
    margin-bottom: 10px;
    color: #8b1111;
}

.popup-box p {
    color: #000000;
    font-size: 15px;
    margin-bottom: 15px;
}

.popup-box button {
    margin: 10px;
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.popup-box .confirm {
    background-color: #2bc233;
    color: white;
    margin: 15px auto 0 auto;
}

.popup-box .confirm:hover {
    background-color: #177e17;
    margin: 15px auto 0 auto;
}

.popup-box .cancel {
    background-color: #c92828;
    margin: 15px auto 0 auto;
}

.popup-box .cancel:hover {
    background-color: #751515;
    margin: 15px auto 0 auto;
}

.btn {
    display: block;
    width: 80%;
    background-color: #1a41f5;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 6px;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin: 15px auto 0 auto;
}
.btn:hover {
    background-color: #0e2bb8;
    transform: scale(1.03);
}