.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.redd.it/wi1piml5hxyf1.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(35%);
    z-index: -1;
}

body {
    font-family: Arial;
    background-color: #f4f6f7;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 250px;
    font-weight: bold;
}

.form-container {
    background: #ffffff5b;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.btn {
    display: block;
    width: 80%;
    background-color: #1a41f5;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 6px;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin: 15px auto 0 auto;
}
.btn:hover {
    background-color: #0e2bb8;
    transform: scale(1.03);
}